.career-major-content{
	padding: 10px;
	background: white;
	display: flex;
	font-size: var(--text-size14);
}

.cm-right{
	padding: 0 10px;
	flex-grow: 1;
}

.career-major-content .button a{
	display: block;
	width: 220px;
	margin-bottom: 5px;
	background: silver;
}

.career-major-content .button a.active{
	background: var(--primary-color);
}

.cm-right .label{
	width: 170px;
}
.cm-left .button a{
	transition: all 0.5s ease;
}

.cm-right .input input[type='text'], .cm-right .input input[type='number']{
	width: 400px;
}

.cm-right .input select{
	width: 200px;
}

.cm-right table{
	width: 100%;
	border: 1px solid silver;
}

.cm-right table caption{
	font-size: 16px;
}

.cm-right table tr th{
	text-align: left;
	background: var(--primary-color);
	color: white;
}

.cm-right table tr th, .cm-right table tr td{
	padding: 10px;
}

.cm-right table tr:nth-child(2n+1){
	background: var(--odd-color);
}

.cm-right table tr th:last-child{
	text-align: center;
}

.cm-right table tr .stt{
	width: 5%;
}

.cm-right table tr td:first-child{
	text-align: center;
}

.cm-right table tr th:last-child{
	width: 12%;
}

.cm-right table tr td.icon a{
	color: var(--primary-color);
}

.cm-right table tr td.icon a{
	filter: drop-shadow(4px 4px 4px);
}

.syllabus{
	background: white;
}

.syllabus form .form-group .label{
	width: 120px;
}

.syllabus form .form-group .input{
	width: 50%;
}

.syllabus form .form-group .input input[type='text']{
	width: 100%;
}

.syllabus table{
	width: 100%;
	font-size: 14px;
	text-align: left;
}

.syllabus table tr th{
	background: var(--primary-color);
	color: white;
	padding: 8px 10px;
}

 .syllabus table tr td{
	padding: 5px 10px;
}

.syllabus table tr .stt{
	width: 5%;
}

.syllabus table tr .act{
	width: 15%;
	text-align: center;
}